<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] / GuitArtistsWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700" rel="stylesheet">
</head>
<body class="body">
    <header class="header">
        <div class="left">
            <a href="~/"><img src="~/favicon.ico" alt="logo" class="header-logo"></a>
            <span class="header-site-name">GuitArtistsWeb</span>
        </div>
        <div class="center">
            <a class="header-tab" href="~/">Головна</a>
            <a class="header-tab" href="~/lessons">Уроки</a>
            <a class="header-tab" href="~/articles">Статті</a>
            <a class="header-tab" href="~/chords">Акорди</a>
        </div>
        <div class="right">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="user-info-container" data-username="@User.Identity.Name" data-photo="@User.Claims.FirstOrDefault(c => c.Type == "photo").Value">
                    <span class="user-info">#@User.Identity.Name</span>
                    <img src="@User.Claims.FirstOrDefault(c => c.Type == "photo").Value" alt="logo" class="user-logo">
                </div>
            }
            else
            {
                <a href="~/login">Увійти</a>
            }
        </div>
    </header>
    <div class="center-wrapper">
        <a>@ViewData["Title"]</a>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
