@{
    ViewData["Title"] = "Home";
}

@using System.Security.Claims;

<div class="text-center">
    <img src="~/favicon.ico" alt="logo" class="home-logo">
    <h1 class="home-site-name">GuitArtists</h1>
    @if (!User.Identity.IsAuthenticated)
    {
        <label class="main-label-block"><b>Увійдіть</b> або <b>зареєструйтесь</b><br>для отримання<br>повноцінного доступу до нашого сайту</label><br><br>
        <a class="main-login-button" href="~/login"><b>Вхід</b></a><br>
        <a class="main-login-button" href="~/registration"><b>Реєстрація</b></a><br>
    }
    else
    {
        @if (@User?.Claims?.FirstOrDefault(c => c.Type == ClaimTypes.GivenName)?.Value == null)
        {
            <label class="main-label-block">Вітаємо, #@User.Identity.Name</label>
        }
        else
        {
            <label class="main-label-block">Вітаємо, @User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.GivenName).Value</label>
        }
    }
</div>

@if (TempData["ShowEmailConfirmationModal"] != null 
    && (bool)TempData["ShowEmailConfirmationModal"] 
    && User.Claims.FirstOrDefault(c => c.Type == "isEmailConfirmed").Value != "True")
{
    @Html.Partial("EmailConfirmationModal")
}
else if (TempData["ShowGoogleOAuthError"] != null 
        && (bool)TempData["ShowGoogleOAuthError"] 
        && !User.Identity.IsAuthenticated)
{
    @Html.Partial("GoogleOAuthErrorModal")
}
else if (TempData["EmailConfirmationSended"] != null 
        && (bool)TempData["EmailConfirmationSended"] 
        && User.Claims.FirstOrDefault(c => c.Type == "isEmailConfirmed").Value != "True")
{
    @Html.Partial("ConfirmationSendedModal")
}
else if (TempData["EmailConfirmedSuccesfully"] != null 
        && (bool)TempData["EmailConfirmedSuccesfully"] 
        && User.Claims.FirstOrDefault(c => c.Type == "isEmailConfirmed").Value == "True")
{
    @Html.Partial("EmailConfirmedSuccesfullyModal")
}
else if (TempData["EmailForgotSended"] != null
        && (bool)TempData["EmailForgotSended"]
        && !User.Identity.IsAuthenticated)
{
    @Html.Partial("EmailForgotSendedModal")
}
else if (TempData["PasswordRecoveredSuccesfully"] != null
        && (bool)TempData["PasswordRecoveredSuccesfully"]
        && User.Identity.IsAuthenticated)
{
    @Html.Partial("PasswordRecoveredSuccesfullyModal")
}