@{
    ViewData["Title"] = "Уроки";
}

@model List<FullDB.Data.Entity.Section>

<div style="margin: 40px; margin-left: 100px; margin-right: 200px; font-size: 40px">

    @foreach (var sec in Model.OrderBy(l => l.Number))
    {
        @if (sec.Number != 1)
        {
            <br>
        }
        <a class="section" data-id="@sec.Id"><b>@sec.Name</b></a>
        <div class="content">
            @if (sec.Children.Any() || sec.Lessons.Any())
            {
                @foreach (var lesson in sec.Lessons.OrderBy(l => l.Number))
                {
                    <li class="lesson" style="margin-left: 15px; font-size: 32px; color: #e3e3e3" data-id="@lesson.Id">
                        <a class="main-lesson-obj" style="margin-left: -15px"><em><b><u>@lesson.Name</u></b></em></a>
                    </li>
                }
                @foreach (var subsection in sec.Children)
                {
                    <div class="subsection" data-id="@subsection.Id">
                        <a class="subsection-obj"><b>@subsection.Name</b></a>
                    </div>
                    <div class="subsection-content">
                        <ul>
                            @foreach (var subLesson in subsection.Lessons.OrderBy(l => l.Number))
                            {
                                <li class="lesson" style="margin-left: 30px; font-size: 28px; color: #b5b5b5" data-id="@subLesson.Id">
                                    <a class="lesson-obj"><em><b><u>@subLesson.Name</u></b></em></a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            }
        </div>
    }

</div>

<script>
    document.querySelectorAll('.section').forEach(item => {
        item.addEventListener('click', event => {
            const content = item.nextElementSibling;
            content.style.display = (content.style.display === 'none' || content.style.display === '') ? 'block' : 'none';
            hideSubsections();
        });
    });

    document.querySelectorAll('.subsection').forEach(item => {
        item.addEventListener('click', event => {
            const content = item.nextElementSibling;
            content.style.display = (content.style.display === 'none' || content.style.display === '') ? 'block' : 'none';
        });
    });

    document.querySelectorAll('.lesson').forEach(item => {
        item.addEventListener('click', event => {
            // Перевірка, чи була натиснута кнопка
            if (!event.target.closest('.buttons')) {
                const id = item.dataset.id;
                // Виклик події тільки у випадку, якщо кнопка не була натиснута
                window.location.href = `lessons/${id}`;
            }
        });
    });

    function hideSubsections() {
        document.querySelectorAll('.subsection-content').forEach(item => {
            item.style.display = 'none';
        });
    }
</script>