@model ArticleModel

@{
    ViewData["Title"] = $"Статті > #{Model.UserLogin} > {Model.Name}";
}

@if(Model.CurrentUserPost)
{
    <div class="text-center">
        <hr>
        <a id="deleteButton" class="main-login-button" style="background-color: indianred">Видалити cтаттю</a>
        @* <a href="/change-article/@Model.Id" class="main-login-button" style="background-color: aliceblue">Змінити cтаттю</a> *@
        <hr>
    </div>
}

<div class="user-page-center-wrapper" style="height: 80px">
    <div class="article-user-info">
        <a href="~/profile/@Model.UserLogin" style="color: gray;" class="article-card-text"><b><u>#@Model.UserLogin</u></b></a>
        <a class="article-card-text"><b>x</b></a>
        <a class="article-card-text"><b><q><em>@Model.Name</em></q></b></a>
    </div>
</div>

<div class="center-wrapper" style="border-radius: 10px">
    @if (!Model.Liked)
    {
        <img class="img-hover" style="height: 20px; width: 20px; user-select: none; margin-bottom: 5px" src="https://api.iconify.design/material-symbols:favorite-outline-rounded.svg?color=%23888888"></img>
    }
    else
    {
        <img class="img-hover" style="height: 20px; width: 20px; user-select: none; margin-bottom: 5px" src="https://api.iconify.design/material-symbols:favorite-rounded.svg?color=%23888888"></img>
    }
    <a class="article-card-text"><b>@Model.Likes</b></a>
</div>

@if (Model.Image == null)
{
    <div>
        <a class="article-card-text"><b>опис:</b><br> @Model.Appendix</a>
    </div>

    <div class="text-center">
        <hr>
        <div class="article-card-text">
            @Html.Raw(Model.Body)
        </div>
    </div>
}
else
{
    <div>
        <a class="article-card-text"><b>опис:</b><br> @Model.Appendix</a>
    </div>
    <div class="image-container">
        <img style="object-fit: contain; width: 100%; height: 100%;" src="~/@Model.Image" alt="image"></img>
    </div>

    <div class="text-center" style="margin-top: 310px;">
        <hr>
        <div class="article-card-text">
            @Html.Raw(Model.Body)
        </div>
    </div>
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('.img-hover').click(function () {
        var userLogin = '@Model.UserLogin';
        var articleId = '@Model.Id';

        $.ajax({
            url: '/like-article/' + userLogin + '/' + articleId,
            type: 'POST',
            success: function (data) {
                location.reload();
            },
        });
    });

    document.getElementById('deleteButton').addEventListener('click', function () {
        var userLogin = '@Model.UserLogin';
        var articleId = '@Model.Id';
        var isSure = confirm('Ви впевнені що хочете видалити статтю?');
        if (isSure) {
            $.ajax({
                url: '/delete-article/' + userLogin + '/' + articleId,
                type: 'POST',
                success: function (data) {
                    window.location.href = '/';
                },
            });
        } else {
        }
    });
</script>