@model ProfileModel

@{
    ViewData["Title"] = $"Профіль > #{Model.Login}";
}

<div class="user-page-center-wrapper">
    <div class="user-info">
        <img class="user-page-logo" src="@Model.AvatarUrl" alt="logo"></img>
        <a><b>@Model.Login</b></a>
    </div>
    <a style="margin-right: 500px">опубліковано статей: @Model.Posts.Count</a>
</div>
<div class="user-page-createdat" style="padding: 5px">дата створення: <b>@Model.CreatedAt</b></div>
@if (Model.FirstName != null)
{
    <div class="user-page-fullname" style="padding: 5px">повне ім'я: <b>@Model.FirstName @Model.LastName</b></div>
}
<div class="text-center">
    @if (Model.CurrentUser)
    {

        @* <hr> <a href="#" class="main-login-button">Налаштування</a> *@

        @if (User.Claims.FirstOrDefault(c => c.Type == "isEmailConfirmed").Value != "True")
        {
            <br><a href="/email-confirm" style="color: indianred;"><b>(!) підтверіть адресу ел. пошти</b> для завершення реєстрації</a>
        }
    }
    <hr><h3>Статті: </h3>
    @if (!Model.Posts.Any())
    {
        @if (Model.CurrentUser)
        {
            <a style="color: lightgray">наразі у вас немає статей</a><br></br>
            <a href="/create-article" class="main-login-button" style="background-color: goldenrod">додати cтаттю</a>
        }
        else
        {
            <a style="color: lightgray">наразі у користувача немає статей</a>
        }
    }
    else
    {
        @foreach (var article in Model.Posts)
        {
            <div class="article" onclick="window.location.href = 'articles/@article.UserLogin/@article.Slug'">
                <a style="text-decoration: none">
                    <div class="user-article-center-wrapper" style="height: 80px">
                        <div class="article-user-info">
                            <img class="article-user-logo" src="@article.UserAvatarUrl" alt="logo"></img>
                            <a style="color: white; margin-left: 5px"><b>@article.UserLogin</b></a>
                            <a style="margin: 10px; color: gray; font-size: 25px; user-select: none;"><b>x</b></a>
                            <a style="font-size: 25px"><b><q><em>@article.Name</em></q></b></a>
                            <img style="height: 33px; width: 33px; user-select: none; margin-bottom: 5px" src="https://api.iconify.design/material-symbols:favorite-outline-rounded.svg?color=%23888888"></img>
                            <a style="font-size: 25px;"><b>@article.Likes</b></a>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>