@model ProfileModel

@{
    ViewData["Title"] = $"Профіль > #{Model.Login}";
}

<div class="user-page-center-wrapper">
    <div class="user-info">
        <img class="user-page-logo" src="@Model.AvatarUrl" alt="logo"></img>
        <a><b>@Model.Login</b></a>
    </div>
</div>
@if (Model.FirstName != null)
{
    <div class="user-page-fullname" style="padding: 5px">повне ім'я: <b>@Model.FirstName @Model.LastName</b></div>
}
<div class="text-center">
    @if (Model.CurrentUser)
    {

        @* <hr> <a href="#" class="main-login-button">Налаштування</a> *@
    }
    <hr><h3>Статті: </h3>
    @if (!Model.Posts.Any())
    {
        @if (Model.CurrentUser)
        {
            <a style="color: lightgray">наразі у вас немає статей</a><br></br>
            <a href="/create-article" class="main-login-button" style="background-color: goldenrod">додати cтаттю</a>
        }
        else
        {
            <a style="color: lightgray">наразі у користувача немає статей</a>
        }
    }
    else
    {
        @foreach (var article in Model.Posts)
        {
            <div class="article" onclick="window.location.href = '/articles/@article.UserLogin/@article.Slug'">
                <a style="text-decoration: none">
                    <div class="user-article-center-wrapper" style="height: 80px">
                        <div class="article-user-info">
                            <a class="article-card-text"><b>@article.UserLogin</b></a>
                            <a class="article-card-text"><b><q><em>@article.Name</em></q></b></a>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>